{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Home{% endblock %}
{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}
{% block content %}

<!-- Hotjar Tracking Code for https://pp5-house-stock-ecommerce.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3491227,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Core CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
<!-- Home Page Hero Video and Links -->
<div id="home-hero" class="home-container">
	<video autoplay loop poster="https://res.cloudinary.com/dvbhrs1gf/image/upload/v1682163967/poster_z6vm8x_ap9dde.webp" muted="muted">
		<source id="mp4" src="https://res.cloudinary.com/dvbhrs1gf/video/upload/v1682163798/site_gif_1_zbr9bp_tcrh9a.mp4" type="video/mp4">
		Your browser does not support the video tag. Please upgrade your browser.
	</video>
	<div class="row">
		<div class="col-12 my-auto">
			<h1 id="hero-text" class="display-4 text-white text-center">
				Home Store & More!
			</h1>
			<div class="row">
				<div class="col-6 my-auto">
					<div class="my-5">
						<h2 class="text-right">
							<a href="{% url 'products' %}" class="btn btn-lg service-button text-uppercase py-3">Shop</a>
						</h2>
					</div>
				</div>
				<div class="col-6 my-auto">
					<div class="my-5">
						<h2 class="text-left" >
							<a href="{% url 'hire' %}" class="btn btn-lg service-button text-uppercase py-3">Hire</a>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="section-rule">
{% include 'includes/home_cards.html'%}
{% endblock %}