{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<!-- Core CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<!-- Home Page Hero Video and Links -->

<div id="home-hero" class="home-container">
    
    <video autoplay loop poster="https://res.cloudinary.com/dvbhrs1gf/image/upload/v1682163967/poster_z6vm8x_ap9dde.webp" muted="muted">
        <source id="mp4" src="https://res.cloudinary.com/dvbhrs1gf/video/upload/v1682163798/site_gif_1_zbr9bp_tcrh9a.mp4" type="video/mp4">
        Your browser does not support the video tag. Please upgrade your browser.
    </video>

    <div class="row">
        <div class="col-12 my-auto">
            <h1 id="hero-text" class="display-4 text-white text-center">
                We Make Sense!
            </h1>
            <div class="row">
                <div class="col-6 my-auto">
                    <div class="my-5">
                        <h2 class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-lg service-button text-uppercase py-3">Shop</a>
                        </h2>
                    </div>
                </div>
                <div class="col-6 my-auto">
                    <div class="my-5">
                        <h2 class="text-left" >
                            <a href="{% url 'hire' %}" class="btn btn-lg service-button text-uppercase py-3">Hire</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->

    <hr class="section-rule">

{% include 'includes/home_cards.html'%}

{% endblock %}