{% extends "base.html" %}
{% load static %}


<!-- Profile Page  -->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %} - User Profile{% endblock %}

<style>


    .auth-container {
        margin-top: 170px;
        min-height: 100vh;
        width: 60%;
    }
    
    
    
    .section-rule {
        width: 60%;
        border-color: white;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    
    
    .techno-button {
        font-size: 14px;
        padding: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: white;
        background-color: #0c2d6c;
        border: none;
        cursor: pointer;
        outline: none;
        border: solid 1px #0c2d6c;
    }
    
    .techno-button:hover {
        background-color: #75e6ff;
        text-decoration: none;
        color: #0c2d6c;
        border: solid 1px #0c2d6c;
    }
    
    
    .basket-button {
        font-size: 14px;
        width: 100%;
        padding: 0.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2.5px;
        color: #fff;
        background-color:#0c2d6c;
        border: none;
        cursor: pointer;
        outline: none;
        border: solid 1px #fff;
    }
    
    .basket-back-button:hover {
        background-color: #75e6ff !important;
        text-decoration: none;
        color: #0c2d6c;
        border: solid 1px #fff;
    }
    
    .basket-button:hover {
        background-color: #6ef4ce; 
        text-decoration: none !important;
        color:#0c2d6c;
        border: solid 1px #fff;
    }
    
    
    /* **** MEDIA QUERIES **** */
    
    
    
    @media (min-width: 1200px) {
        .container {
            max-width: 90%;
        }
        }
    
    
        
    @media screen and (max-width: 600px) {
        .container {
            width: 80%;
        }
        #home-hero {
            margin-top: 140px;
        }
        .auth-container {
            margin-top: 150px;
        }
        .wishlist-container {
            margin-top: 150px;
        }
        }
    
    @media screen and (max-width: 500px) {
        
        .container {
            width: 100%;
        }
    
        .logo-container {
            max-width: 170px;
            height: auto;
        }
    
        .navbar-toggler {
            border: none;
            width: 45px;
            height: 40px;
            margin-left: 0px;
        }
        .home-card {
            width: 90%;
            margin-left: 5%;
        }
        .wishlist-item-container {
            width: 90%;
        }
        .basket-item-container {
            width: 90%;
        }
        .footer-inv-logo {
            width: 40%;
        }
        footer i {
            font-size: x-large;
        }
        }
    
    @media screen and (max-width: 430px) {
        .logo-container {
            max-width: 150px;
            height: auto;
        }
        .nav-link{
            padding: 3px;
        }
        .service-button{
            font-size: small;
            width: 80px;
        }
        .home-container {
            width: 90%;
        }
        .products-bg {
        margin-top: 180px;
        background-size: cover;
        }
        .product-detail-bg {
            margin-top: 150px;
            background-size: cover;
        }
        .basket-img {
            min-width: 206px;
        }
        .techno-messages {
            position: fixed;
            top: 5px;
            right: 5px;
            z-index: 9991;
        }
        .techno-toast {
            min-width: 10px;
            max-width: 280px;
        }
        .auth-container {
            width: 80%;
        }
        .wishlist-img {
            min-width: 240px;
        }
        .footer-inv-logo {
            width: 50%;
        }
        }
    
    
    </style>

{% block content %}
<div class="auth-container container" style="margin-top: 170px;
min-height: 100vh;
width: 60%;">
  
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-center"><span class="sr-only">List Icon</span><i class="text-white fa-solid fa-user"></i></h1>
            <h2 class="text-white">My Profile</h2>
            <p class="text-white"> Username: {{ user.username }}</p>
            <hr style="width: 60%;
            border-color: white;
            margin-top: 4rem;
            margin-bottom: 4rem;" class="section-rule">
        </div>

    </div>

    <!-- Delivery Info -->

    <div class="panel-group" id="profile-accordian">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p style="font-size: 14px;
                width: 100%;
                padding: 0.5rem;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2.5px;
                color: #fff;
                background-color:#0c2d6c;
                border: none;
                cursor: pointer;
                outline: none;
                border: solid 1px #fff;" class="panel-title text-white p-3 text-uppercase text-center" data-target="#panel-1" data-toggle="collapse">Saved Delivery
                    Details <span><i class="pl-3 fa-solid fa-circle-arrow-down"></i></span></p>
            </div>
            <div class="panel-collapse collapse" data-parent="#profile-accordian" id="panel-1">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="text-light">Default Delivery Information</p>
                            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button style="font-size: 14px;
                                padding: 0.5rem;
                                text-transform: uppercase;
                                letter-spacing: 2.5px;
                                color: white;
                                background-color: #0c2d6c;
                                border: none;
                                cursor: pointer;
                                outline: none;
                                border: solid 1px #0c2d6c;" class="techno-button float-right">Update Information</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order History  -->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <p style="font-size: 14px;
                width: 100%;
                padding: 0.5rem;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2.5px;
                color: #fff;
                background-color:#0c2d6c;
                border: none;
                cursor: pointer;
                outline: none;
                border: solid 1px #fff;" class="panel-title text-white p-3 text-uppercase text-center" data-target="#panel-2" data-toggle="collapse">Order History
                    <span><i class="pl-3 fa-solid fa-circle-arrow-down"></i></span>
                    <p>
            </div>
            <div class="panel-collapse collapse" data-parent="#profile-accordian" id="panel-2">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="order-history table-responsive">
                                <table class="table text-light table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>Date</th>
                                            <th>Order Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a class="text-light"
                                                    href="{% url 'order_history' order.order_number %}"
                                                    title="{{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:6 }}
                                                </a>
                                            </td>
                                            <td>{{ order.date }}</td>
                                            <td>${{ order.grand_total }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products Link -->
    <div class="basket-checkout">
        <a href="{% url 'products' %}">
            <div style="font-size: 14px;
            width: 100%;
            padding: 0.5rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2.5px;
            color: #fff;
            background-color:#0c2d6c;
            border: none;
            cursor: pointer;
            outline: none;
            border: solid 1px #fff;" class="basket-back-button basket-button text-white text-uppercase text-center"><i class="icon fa-solid fa-circle-arrow-left"></i>back
                to  shopping</div>
        </a>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}