{% extends "base.html" %}
{% load static %}
{% block extra_title %} - **WARNING**{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'testimonials/css/testimonials.css' %}">
{% endblock %}
{% block content %}
<!-- Ensures page has not been accessed directly by URL -->
{% if "testimonials" in request.META.HTTP_REFERER %}
<!-- Pupil record delete page warning logo and text content -->
<div class="warning-container text-white d-flex justify-content-center align-items-center">
	<div class="text-center">
		<img class="warning-logo"
			src="https://res.cloudinary.com/dvbhrs1gf/image/upload/v1682373473/kisspng-vector-graphics-warning-sign-clip-art-illustration-5d2c40d1540a65.6649287915631812653442_ietfhg_di2mse.png"
			alt="Warning Logo">
		<!-- Testimonial delete form -->
		<div class="col-12">
			<h3>***WARNING***</h3>
			<form method="POST" action="#">
				{% csrf_token %}
				<br>
				<p>You are about to delete this Testimonial!</p>
				<a href="{{request.META.HTTP_REFERER}}" class="btn techno-button-border techno-button">Go
				Back</a>
				<input type="submit" value="Delete" class="btn techno-button-border techno-button">
			</form>
		</div>
	</div>
</div>
<!-- If the page has been accessed via direct URL input show this instead! -->
{% else %}
<!-- Unauthorised access warning logo and text content -->
<div class="warning-container d-flex justify-content-center align-items-center">
	<div class="text-center">
		<img class="warning-logo"
			src="https://res.cloudinary.com/dvbhrs1gf/image/upload/v1682373473/kisspng-vector-graphics-warning-sign-clip-art-illustration-5d2c40d1540a65.6649287915631812653442_ietfhg_di2mse.png"
			alt="Warning Logo">
		<h3>***WARNING***</h3>
		<p class="mb-2 text-white">Warning!
			You are unauthorised to view this page!
			You have navigated to this page from an unauthorised url
		</p>
		<br>
		<p class="text-white">Please login or <a href="{% url 'home' %}" class="btn techno-button-border techno-button">Click Here</a> to
			visit the Home Store
			Home page
		</p>
	</div>
</div>
{% endif %}
{% endblock %}