 .style {
     margin-top: 180px;
 }

 .btns:hover {
     background-color: #75e6ff !important;
 }

 .btons {
     background-color: #0c2d6c;
     align-self: start;
 }

 .card-body {
     -ms-flex: 1 1 auto;
     flex: 1 1 auto;
     min-height: 1px;
     padding: 1.25rem;
     max-width: 62rem;
 }

 .row {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-right: 0px;
     margin-left: 0px;
 }

 .container-fluid,
 .container-lg,
 .container-md,
 .container-sm,
 .container-xl {
     width: 100%;
     padding-right: 0px;
     padding-left: 0px;
     margin-right: auto;
     margin-left: auto;
 }

 .pb-5, .py-5 {
    padding-bottom: 0rem!important;
}
.pt-5, .py-5 {
    padding-top: 0rem!important;
}