{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}
{% endblock %}
{% block content %}
<div class="col-12 d-flex justify-content-center text-white">
	<div class="margin-top auth-container text-center">
		<h1 class="text-center"><span class="sr-only">List Icon</span><i class="fa-solid fa-right-to-bracket"></i>
		</h1>
		<h2>{% trans "Sign In" %}</h2>
		{% get_providers as socialaccount_providers %}
		{% if socialaccount_providers %}
		{% blocktrans with site.name as site_name %}
		{% endblocktrans %}
		<div class="socialaccount_ballot">
			<ul class="socialaccount_providers"></ul>
		</div>
		{% include "socialaccount/snippets/login_extra.html" %}
		{% else %}
		<p>{% blocktrans %}If you have not created an account yet, then please
			<a class="text-light font-italic" href="{{ signup_url }}"><span class="text-success">sign up</span></a> first.{% endblocktrans %}
		</p>
		{% endif %}
		<form class="login text-center" method="POST" action="{% url 'account_login' %}">
			{% csrf_token %}
			{{ form|crispy }}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<a class="btn techno-button techno-button-border" href="{% url 'home' %}">Home</a>
			<button class="primaryAction btn techno-button techno-button-border" type="submit"><i
				class="fa-solid fa-right-to-bracket"></i>{% trans "Sign In" %}</button>
			<p class="mt-2">
				<a class="button secondaryAction" href="{% url 'account_reset_password' %}">
				{% trans "Forgot Password?" %}</a>
			</p>
		</form>
	</div>
</div>
{% endblock %}