{% extends 'base.html' %}
{% load static %}

{% block extra_title %} 404 {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-lg-5 col-11 m-auto m-2 p-3 text-center">
            <hr>
            <h2 class="display-1">404</h2>
            <hr>
            <h4 class="logo-font">The Page you are trying to access cannot be found.</h4>
            <div class="my-5">
                <h4>
                    <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Return to Home
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}