{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Hire{% endblock %}

<!-- Hire Page -->

{% block content %}

<!-- Core CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/hire.css' %}">
{% endblock %}

<div class="hire-container text-white">
    <div class="row">
        <div class="col-12 my-auto text-center">
            <h2>Home Store Equipment Hire</h2>
            <hr class="message-rule">
            <img class="hire-img"
                src="https://res.cloudinary.com/dvbhrs1gf/image/upload/v1683716571/hire_i7kbjc.png"
                alt="home-store equpiment hire">
            <p class="hire-text"> We are currently managing our bookings via our <a class="text-light"
                    href="https://www.facebook.com" target="_blank">facebook</a> business page.</p>
            <p class="hire-text">Click on a link below to view our current packages or make an enquiry.</p>
            <div class="col-12 text-center my-3">
                <a class=" btn techno-button-border techno-button" href="{% url 'packages' %}">
                    <i class="fa-solid fa-box-open"></i> View Package Offers</a>
            </div>
            <div class="col-12 text-center my-3">
                <a class="btn techno-button-border techno-button" href="https://www.facebook.com" target="_blank">
                    <i class="fa-brands fa-facebook"></i> Make Enquiry</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}