{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Hire{% endblock %}

<!-- Hire Page -->

{% block content %}


<style>


.message-rule {
    width: 80%;
    border-color: #75e6ff;
    margin-bottom: 30px;
}


.techno-button {
    font-size: 14px;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: white;
    background-color: #0c2d6c;
    border: none;
    cursor: pointer;
    outline: none;
    border: solid 1px #0c2d6c;
}

.techno-button:hover {
    background-color: #75e6ff;
    text-decoration: none;
    color: #0c2d6c;
    border: solid 1px #0c2d6c;
}

.techno-button-border {
    border: 1px solid white;
}

.hire-container {
    margin-top: 180px;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hire-img {
    width: 100%;
    max-width: 350px;
    border: 2px solid white;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hire-text {
    width: 70%;
    margin-left: 15%;
}

.hire-text a {
    text-decoration: underline;
}
</style>

<div class="hire-container text-white">
    <div class="row">
        <div class="col-12 my-auto text-center">
            <h2>Sensory Equipment Hire</h2>
            <hr class="message-rule">
            <img class="hire-img" src="https://res.cloudinary.com/dvbhrs1gf/image/upload/v1682103480/techno-tech2_ytmx35.png" alt="home-store equpiment hire">
            <p class="hire-text"> We are currently managing our bookings via our <a class="text-light"  href="https://www.facebook.com" target="_blank">facebook</a> business page.</p>
            <p class="hire-text">Click on a link below to view our current packages or make an enquiry.</p>
            <div class="col-12 text-center my-3">
                <a class="techno-button" href="{% url 'packages' %}"><i class="fa-solid fa-box-open"></i> View Package Offers</a>
            </div>
            <div class="col-12 text-center my-3">
                <a class="techno-button" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i> Make Enquiry</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}