{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.sensical-button {
    font-size: 14px;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: white;
    background-color: #000000;
    border: none;
    cursor: pointer;
    outline: none;
    border: solid 1px #0c2d6c;
}
.style {
    margin-top: 150px;
}
</style>
<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100 style">
        <div class="col-10">
            <hr>
            <div class="text-center mb-4">
                <h1 class="fw-normal mb-0 text-black text-uppercase">Wishlist</h1>
            </div>
            <hr>
            {% if wishlist %}
            {% for item in wishlist %}
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid rounded-3">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" class="img-fluid rounded-3">
                            {% endif %}
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <p class="lead fw-normal mb-2">{{ item.product.name }}</p>
                            <p class="text-muted fw-normal mb-2 text-uppercase">code: {{ item.product.sku }}</p>
                        </div>
                        <div class="col-12 mt-1">
                            <a href="{% url 'product_detail' item.product.id %}" class="sensical-button text-center rounded-0 mt-2">
                                <span class="icon" ><i class="fa-solid fa-circle-arrow-left"></i></span>
                                <span class="text-uppercase">Back to Product</span>
                            </a>
                        </div>

                        
                        <div class="col-12 mt-1">
                            <a href="{% url 'products' %}" class="sensical-button text-center rounded-0 mt-2">
                                <span class="icon" ><i class="fa-solid fa-circle-arrow-left"></i></span>
                                <span class="text-uppercase">Find More Products</span>
                            </a>
                        </div>


                        

                        <div class="col-12 mb-1">
                            <a class="sensical-button" href="{% url 'remove_from_wishlist' item.id %}">
                                <span class="icon "><i class="fa-solid fa-trash"></i></span>
                                <span class="text-uppercase">Remove from Wishlist</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



            
            {% else %}
            <div class="text-center mb-4">
                <p>Your wishlist is empty. Maybe add some <a href="{% url 'products' %}">products</a>?</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}