{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Wishlist{% endblock %}
{% block content %}
<style>
    .card {
    margin-right: 10px;
    margin-left: 10px;
}
</style>
<!-- Core CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
{% endblock %}

<!-- Wishlist Page -->
<div class="text-center text-white mb-4 style">
    <h1 class="fw-normal mb-0 text-uppercase">My Wishlist</h1>
</div>
<hr>
{% if wishlist %}
{% for item in wishlist %}
<div class="text-white py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="">
            <form class="form" action="{% url 'add_to_bag' item.product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12 d-none">
                        <p class="mt-2"><strong>Quantity:</strong></p>
                        <div class="form-group">
                            <div class="input-group-selector">
                                <select class="form-control custom-select" name="quantity">
                                    <option>1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded-3 mb-4 border-white" style="background-color: #0c2d6c;">
                    <div class="card-body p-4 text-white">
                        <div class="row d-flex align-items-center">
                            <div class="col-6 col-md-2">
                                {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                                    class="img-fluid rounded-3">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}"
                                    class="img-fluid rounded-3">
                                {% endif %}
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="lead fw-normal mb-2">{{ item.product.name }}</p>
                                <p class="text-success fw-normal mb-2 text text-uppercase">
                                    code: {{ item.product.sku}}
                                </p>
                                <p class="wishlist-heading">${{ item.product.price }}</p>
                                {% if item.product.in_stock %}
                                <small tabindex=0><i class="fa-solid fa-circle-check text-success mb-4"></i> 
                                In Stock</small>
                                {% else %}
                                <small tabindex=0><i class="fa-solid fa-circle-xmark text-danger mb-4"></i> 
                                Out of Stock</small>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-7 text-md-end mt-3 mt-md-0" style="display: flex; flex-direction: column;">
                                {% if item.product.in_stock %}
                                    <button class="btn btons techno-button rounded-0 text-uppercase mt-2 ms-3" type="submit">
                                        <i class="fa-solid fa-shopping-basket"></i>
                                        <span class="text-white">Add To Basket</span>
                                    </button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                {% endif %}
                                <a href="{% url 'product_detail' item.product.id %}" class="btn btons techno-button  rounded-0 text-uppercase mt-2">
                                    <i class="fa-solid fa-circle-arrow-left"></i>
                                    <span class="text-white">Back to Product</span>
                                </a>
                                <a href="{% url 'products' %}" class="btn btons techno-button rounded-0 text-uppercase mt-2 ms-3">
                                    <i class="fa-solid fa-circle-arrow-left"></i>
                                    <span class="text-white">Find More Products</span>
                                </a>
                                <a class="btn btons techno-button rounded-0 text-uppercase mt-2 ms-3" href="{% url 'remove_from_wishlist' item.id %}" onclick="wishlistRemove(event)">
                                    <i class="fa-solid fa-trash"></i>
                                    <span class="text-white">Remove from Wishlist</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script>
    async function wishlistRemove(e) {
        e.preventDefault();
        let el = e.currentTarget;
        let url = el.getAttribute("href");
        let response = await fetch(url);
        location.reload();
    }
</script>
<hr class="section-rule">
{% else %}
<div class="text-center text-white mb-4">
    <p>Your wishlist is empty. Maybe add some <a href="{% url 'products' %}">products</a>?</p>
</div>
{% endif %}
{% endblock %}